<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CAS.SmartFactory.IPR.Client.UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <CAS.SmartFactory.IPR.Client.UserInterface.Properties.Settings>
      <setting name="SiteURL" serializeAs="String">
        <value>http://casas:11227/sites/ipr</value>
      </setting>
      <setting name="DoArchiveIPR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoActivate1800" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ArchiveBatchDelay" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ArchiveIPRDelay" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="DoArchiveBatch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SQLDatabaseName" serializeAs="String">
        <value>&lt;enter database name&gt;</value>
      </setting>
      <setting name="SQLServer" serializeAs="String">
        <value>CASAS\MSSQL_SANDBOX</value>
      </setting>
    </CAS.SmartFactory.IPR.Client.UserInterface.Properties.Settings>
  </userSettings>
</configuration>
