<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CAS.SmartFactory.Deployment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CAS.SmartFactory.Deployment.Properties.Settings>
      <setting name="SiteCollectionURL" serializeAs="String">
        <value>shepherd</value>
      </setting>
      <setting name="ManualMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InstallationStateFileName" serializeAs="String">
        <value>SmartFactoryInstallationState.cas.xml</value>
      </setting>
      <setting name="SolutionDeploymentTimeOut" serializeAs="String">
        <value>200</value>
      </setting>
    </CAS.SmartFactory.Deployment.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <sources>
      <!--http://msdn.microsoft.com/en-us/library/4h0a215t(v=VS.90).aspx-->
      <source name="SharePoint.Deployment" switchName="InstallationLog" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="DebugOutput" />
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!--http://msdn.microsoft.com/en-us/library/4h0a215t(v=VS.90).aspx-->
      <add name="InstallationLog" value="All"  />
    </switches>
    <sharedListeners>
      <add name="DebugOutput" type="System.Diagnostics.ConsoleTraceListener" initializeData="true">
        <!-- Allows all events through. -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
        <!-- Allows the Stop, Start, Suspend, Transfer, and Resume events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="ActivityTracing" /> -->
        <!-- Allows only Critical events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical" /> -->
        <!-- Allows Critical and Error events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" /> -->
        <!-- Allows Critical, Error, Warning, and Information events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" /> -->
        <!-- Does not allow any events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Off" /> -->
        <!-- Allows Critical, Error, Warning, Information, and Verbose events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" /> -->
        <!-- Allows Critical, Error, and Warning events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" /> -->
      </add>
      <add name="LogFile" type="System.Diagnostics.DelimitedListTraceListener" initializeData="CAS.SharePointDeployment.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>