<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAS.SmartFactory.Shepherd.Client.Management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAS.SmartFactory.Shepherd.Client.Management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CAS.SmartFactory.Shepherd.Client.Management.Properties.Settings>
            <setting name="SiteURL" serializeAs="String">
                <value>http://localhost/sites/shepherd</value>
            </setting>
            <setting name="SQLDatabaseName" serializeAs="String">
                <value>Shepherd</value>
            </setting>
            <setting name="SQLServer" serializeAs="String">
                <value>CASAS\MSSQL_SANDBOX</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source={0};Initial Catalog={1}; Integrated Security=True</value>
            </setting>
            <setting name="RunDateError" serializeAs="String">
                <value>-- ERROR --</value>
            </setting>
        </CAS.SmartFactory.Shepherd.Client.Management.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CAS.SmartFactory.Shepherd.Client.Management.Properties.Settings>
            <setting name="RunByUnknown" serializeAs="String">
                <value>--- ? ---</value>
            </setting>
            <setting name="RunDateUnknown" serializeAs="String">
                <value>--- ? ---</value>
            </setting>
            <setting name="RunByError" serializeAs="String">
                <value>-- ERROR --</value>
            </setting>
        </CAS.SmartFactory.Shepherd.Client.Management.Properties.Settings>
    </applicationSettings>
</configuration>