<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.Common64" version="2.60.10" targetFramework="net451" developmentDependency="true" />
  <package id="CAS.SharePoint.Client" version="2.60.10" targetFramework="net451" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net451" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="6.0.1304.0" targetFramework="net451" />
  <package id="Prism.Core" version="6.1.0" targetFramework="net451" />
  <package id="Prism.Mef" version="6.1.0" targetFramework="net451" />
  <package id="Prism.Wpf" version="6.1.0" targetFramework="net451" />
</packages>