<p><b>Incorrect data entered. Please verify shipping data.</b></p>
<p><b>Security Escort Provider</b>: <#= ShippingOperationOutband2PartnerTitle #></p>
<p><b>Shipping:</b> <#= Title #></p>
<p><b>Time Slot:</b> <#= StartTime #></p>
____________________________________________________________________________________________</br>
  NOTE: Information about driver’s names and car should be supplemented in Shepherd
        system before planned loading.</br> 