<p><b>2 hour remaining to supplement missing transport data.</b></p>
<p><b>Vendor:</b> <#= PartnerTitle #></p>
<p><b>Shipping:</b> <#= ShippingTitle #></p>
<p><b>Time Slot:</b> <#= StartTime #></p>
____________________________________________________________________________________________</br>
  NOTE: Information about driver’s names and truck/trailers should be supplemented in Shepherd
        system before planned loading.</br>  

