.TextBox 
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    font-family:Verdana;
    font-size:10pt;
    width:350px;
}
.TextBoxLD 
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    font-family:Verdana;
    font-size:10pt;
    width:200px;
}
.Button
{
    border-width:1px 1px 1px 12px;
    width:90px;
    height:20px;
    border-top-color:#addbf7;
    border-bottom-color:#addbf7;
    border-left-color:#91cdf2;
    border-right-color:#91cdf2;
    border-style:solid;
    background-image:url(/_layouts/images/ShepherdDashboards/button_background.jpg);
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:8pt; 
}
.Button_TR
{
    border-width:1px 1px 1px 12px;
    width:70px;
    height:20px;
    border-top-color:#addbf7;
    border-bottom-color:#addbf7;
    border-left-color:#91cdf2;
    border-right-color:#91cdf2;
    border-style:solid;
    background-image:url(/_layouts/images/ShepherdDashboards/button_background.jpg);
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:8pt; 
}
.Table
{
    width:auto;
    padding:10px;
    border:0px;
}
.TableInside
{
    width:auto;
    padding:0px;
    border:0px;
}
.Label
{
    font-size:8pt;
    font-family:Verdana;
    color:#6d6f72;
}
.DropDown
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:10pt;
    width:350px;
}
.DropDownLD
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:8pt;
    width:200px;
}
.ListBox
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:8pt;
}
.ListBoxInside
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:8pt;
    width:200px;
}
/* TimeSlot Callendar Part */
.DashboardCalendar
{
    width:350px;
    height:auto;
}
/*do użycia w kalendarzu */
.DashboardCalendarOtherMonths
{
    background-color:#F8F8F8;
}
.DashboardCalendarSelected
{
    background-color:#0072bc;
}    
.DashboardTimeSlotList
{
    width:100px;
    height:auto;
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
}
hr
{
    width:100%;
    height:1px;
    color:#91cdf2;
}