.ms-WPTitle
{
    font-family:Verdana;
    color:#079e66;
    font-size:12pt;
}

.TextBox 
{
    border-width:1px 1px 1px 1px;
    border-color:#DDDDDD;
    border-style:solid;
    font-family:Verdana;
    font-size:10pt;
    width:300px;
}
.Button
{
    border-width:1px 1px 1px 12px;
    border-color:#079e66;
    border-style:solid;
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:10pt; 
}
.Table
{
    width:auto;
    padding:10px;
    border:0px;
}
.TableInside
{
    width:auto;
    padding:0px;
    border:0px;
}
.Label
{
    font-size:10pt;
    font-family:Verdana;
    color:#3D3D3D;
}
.DropDown
{
    border-width:1px 1px 1px 1px;
    border-color:#DDDDDD;
    border-style:solid;
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:10pt;
}
.ListBox
{
    border-width:1px 1px 1px 1px;
    border-color:#DDDDDD;
    border-style:solid;
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:10pt;
}
/* TimeSlot Callendar Part */
.DashboardCalendar
{
    width:450px;
    height:auto;
}
/*do użycia w kalendarzu */
.DashboardCalendarOtherMonths
{
    background-color:#F8F8F8;
}
.DashboardCalendarSelected
{
    background-color:#079e66;
}    
.DashboardTimeSlotList
{
    width:100px;
    height:auto;
    border-width:1px 1px 1px 1px;
    border-color:#DDDDDD;
    border-style:solid;
}