<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAS.SmartFactory.Deployment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAS.SmartFactory.Deployment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CAS.SmartFactory.Deployment.Properties.Settings>
            <setting name="SiteCollectionFeatureGuid" serializeAs="String">
                <value>{693191fd-6a7a-4db6-ac8e-a3f747ddf439}</value>
            </setting>
            <setting name="SiteCollectionSolutionFileName" serializeAs="String">
                <value>Solutions\ShepherdWebsite.wsp</value>
            </setting>
        </CAS.SmartFactory.Deployment.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CAS.SmartFactory.Deployment.Properties.Settings>
            <setting name="SiteCollectionURL" serializeAs="String">
                <value>sites/shr</value>
            </setting>
            <setting name="FarmSolutionFileName" serializeAs="String">
                <value>Solutions\ShepherdDashboards.wsp</value>
            </setting>
            <setting name="FarmFeatureGuid" serializeAs="String">
                <value>{3d8f8cb5-f8bb-496a-b561-fb3d36e8d84d}</value>
            </setting>
        </CAS.SmartFactory.Deployment.Properties.Settings>
    </userSettings>
</configuration>