<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CAS.SmartFactory.SPMetalHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="CAS.SmartFactory.xml.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <CAS.SmartFactory.SPMetalHelper.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://casmp/sites/s41</value>
            </setting>
        </CAS.SmartFactory.SPMetalHelper.Properties.Settings>
        <CAS.SmartFactory.xml.Test.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://casmp/sites/s01/</value>
            </setting>
        </CAS.SmartFactory.xml.Test.Properties.Settings>
    </applicationSettings>
</configuration>
