<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAS.SmartFactory.IPR.Client.FeatureActivation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CAS.SmartFactory.IPR.Client.FeatureActivation.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://cas_sp:11225/sites/ipr2</value>
            </setting>
        </CAS.SmartFactory.IPR.Client.FeatureActivation.Properties.Settings>
    </userSettings>
</configuration>