<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAS.SmartFactory.IPR.Client.FeatureActivation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CAS.SmartFactory.IPR.Client.FeatureActivation.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://cas_sp:11225/sites/ipr2</value>
            </setting>
            <setting name="IPRAccountArchivalDelay" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BatchArchivalDelay" serializeAs="String">
                <value>60</value>
            </setting>
        </CAS.SmartFactory.IPR.Client.FeatureActivation.Properties.Settings>
    </applicationSettings>
</configuration>